html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 110px;
}


.articulo-select {
    width: 300px;
}

.navbar {
    background-color: #0d0d0d; 
}

.navbar-brand, .nav-link {
    color: #ffffff !important; 
}

.footer {    
    background-color: #0d0d0d; 
}

.container {
    max-width: 1200px;
}

.card-custom {
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid #dee2e6;
    border-radius: .5rem;
}

.banner {
    max-width: 100%;
    height: auto;   
}

